<template>
  <div>
    <!-- About-->
    <section class="resume-section" id="about">
      <div class="resume-section-content">
        <h1 class="mb-0">
          <span style="color: #5F85DB;">Adistya</span>
          Mahayani
        </h1>
        <div class="subheading mb-5">
          Tegal Saat Kapal · Badung, 80351 · 085931210198 ·
          <a href="mailto:name@email.com" style="color: #5F85DB;">adistyamhynii@gmail.com</a>
        </div>
        <p class="lead mb-5">
          I am a SKENSA student. and choose a Major in Software Engineering.
          Currently I am still learning about technology, especially in the Software section.
          Besides that, I like design, editing and also like to mingle with art.
        </p>
        <div class="social-icons">
          <a class="social-icon" href="https://gitlab.com/adistyamahayanii">GitLab</a>
          <a class="social-icon" href="https://github.com/adistyamhynii">GitHub</a>
          <a class="social-icon" href="https://www.instagram.com/adistyamhynii/">Instagram</a>
          <a class="social-icon" href="https://www.facebook.com/profile.php?id=100017883739205">Facebook</a>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Experience & Contest</h2>

        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Balinese Pendet Dance Competition</h3>
            <div class="subheading mb-3">ST Taruna Jaya - Tambak Sari Kapal</div>
            <p>
              Participated in the Pendet Dance Competition throughout the Kapal Village to enliven the ST Taruna Jaya anniversary event.
              Pendet Dance was originally a worship dance that was often performed in temples, places of worship for Hindus in Bali, Indonesia.
              This dance symbolizes the welcome of the descent of the gods into the natural world.
              Gradually, as the times progressed, Balinese artists turned Pendet into a "welcome greeting", although it still contained sacred-religious elements.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">October 16, 2022</span>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Hindu Religion Smart Competition</h3>
            <div class="subheading mb-3">Universitas Hindu Negeri I Gusti Bagus Sugriwa</div>
            <p>
              Participate in the Hindu Religion quiz competition for SMA/K in Bali held by the Brahma Widya Faculty,
              State Hindu University I Gusti Bagus Sugriwa in enlivening Utsawa Brahma Widya VII.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">May 12, 2022</span>
          </div>
        </div>

        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Balinese Legong Dance Competition</h3>
            <div class="subheading mb-3">SMK Negeri 1 Denpasar</div>
            <p>
              Participated in the Legong Dance competition held by SMK Negeri 1 Denpasar to celebrate the 59th anniversary of SKENSA.
              Legong is a group of classical Balinese dances that have a fairly complex repertoire of movements and are tied to the structure of the
              accompanying percussion which is said to be the influence of gambuh.
              The word Legong itself comes from the word "leg" which means a dance movement that is flexible and flexible, and "gong" which means gamelan.
              So, the word "legong" in this case means a dance movement that is bound by the accompanying gamelan.
              The gamelan used to accompany the Legong Dance is called the Semar Pegulingan Gamelan.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">September, 2022</span>
          </div>
        </div>

        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Solo Singing Contest</h3>
            <div class="subheading mb-3">SMK Negeri 1 Denpasar</div>
            <p>
              Participated in the Singing Competition Solo competition held by SMK Negeri 1 Denpasar to celebrate the 59th anniversary of SKENSA.
              Singing solo/single is an individual singing performance with or without musical accompaniment.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">September, 2022</span>
          </div>
        </div>


        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">Follow the Nyurat Lontar Training</h3>
            <div class="subheading mb-3">SMP Negeri 2 Mengwi</div>
            <p>
              Participated in the Balinese script Nyurat Lontar training at SMP Negeri 2 Mengwi.
              Nyurat lontar,became one of the local wisdom inherited from ancestors for the Balinese people.
              This writing tradition has existed since ancient times, which generally uses Balinese script.
              Various things are written on palm leaf media which contain educative ideas. In the midst of an increasingly modern era,
              coupled with the more massive use of Latin script, the activity of lontar palms has dimmed.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">July, 2022</span>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Education</h2>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">SMK Negeri 1 Denpasar</h3>
            <div class="subheading mb-3">Rekayasa Perangkat Lunak</div>
            <div>Jl. Cokroaminoto No.84, Pemecutan Kaja, Kec. Denpasar Utara, Kota Denpasar, Bali 80116</div>
            <!-- <p>GPA: 3.23</p> -->
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">July 2020 - May 2023</span>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">SMP Negeri 2 Mengwi</h3>
            <!-- <div class="subheading mb-3">Technology Magnet Program</div> -->
            <div>Br. Tegalasaat, Kapal, Mengwi, Jl. Anggrek I No.6, Kapal, Kec. Mengwi, Kabupaten Badung, Bali 80351</div>
            <!-- <p>GPA: 3.56</p> -->
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">July 2017 - May 2020</span>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">SD Negeri 6 Kapal</h3>
            <!-- <div class="subheading mb-3">Technology Magnet Program</div> -->
            <div>Jl. Anggrek I No.14, Kapal, Kec. Mengwi, Kabupaten Badung, Bali 80351</div>
            <!-- <p>GPA: 3.56</p> -->
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">July 2011 - May 2017</span>
          </div>
        </div>

      </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Skills</h2>
        <div class="subheading mb-3">Programming Languages, Framework & Editing</div>
        <ul class="fa-ul mb-0">
          <li class="fa-ul mb-0">HTML</li>
          <li class="fa-ul mb-0">CSS</li>
          <li class="fa-ul mb-0">Java Script</li>
          <li class="fa-ul mb-0">PHP</li>
          <li class="fa-ul mb-0">Laravel</li>
          <li class="fa-ul mb-0">Bootstrap</li>
          <li class="fa-ul mb-0">Adobe PhotoShop</li>
          <li class="fa-ul mb-0">Adobe Premiere Pro</li>
          <li class="fa-ul mb-0">Adobe XD</li>
          <li class="fa-ul mb-0">Figma</li>
        </ul>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Interests</h2>
        <p>
          I just entered the world of technology when I entered the Vocational High School until now. Previously I was interested in the arts.
          Therefore, I have more experience in the arts, especially in dancing.
          Currently I am interested in the world of Design and Editing. I'm still in the stage of learning to explore the world of technology.
        </p>
        <!-- <p class="mb-0">
          When forced indoors, I follow a number of sci-fi and fantasy genre
          movies and television shows, I am an aspiring chef, and I spend a
          large amount of my free time exploring the latest technology
          advancements in the front-end web development world.
        </p> -->
      </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            3
            <sup>rd</sup>
            Balinese Pendet Dance Competition
          </li>
          <li>
            Hindu Religion Smart Competition Certification
          </li>
          <li>
            Nyurat Lontar Training Certification
          </li>

        </ul>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: "IndexContent",
};
</script>
